# Important credentials needed for Backend and your local Database to run
# Create a .env file for you in backend/ which will follow this structure:

DB_HOST=localhost
DB_USER=root
DB_PASSWORD=new_password
DB_NAME=inventory_db

